@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@900&display=swap');

.triple-dots {
    cursor: pointer;
    padding: 16px 18px 15px; 
    position: absolute;
    top: 20px;
    left: 0;
    background: white;
    z-index: 900; 
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); 
    margin: 5px;
    max-width: 300px; 
    min-width: 150px; 
  }
  
  @media (max-width: 768px) {
    .triple-dots {
      left: auto;
      right: 0;
    }
  }
  
  .share {
    display: block;
    font-size: 14px;
    margin-inline-start: 12px;
    white-space: nowrap;
  }
  